# Comment delta to trigger Travis CI build over unchanged branch logic.

# .travis.yml file based on:
# https://gist.github.com/dan-blanchard/7045057

language: python
python:
  - "3.6"

install:
  # Setup anaconda. See http://conda.pydata.org/docs/travis.html

  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - export BBN_MEAS_FILE="$PWD/test/test_measure.yml"
  - echo "Measure file at $BBN_MEAS_FILE"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  # Create conda environment with dependencies
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION numpy scipy matplotlib h5py pandas networkx cffi bokeh jupyter future psutil
  - source activate test-environment
  - export GIT_LFS_SKIP_SMUDGE=1
  - pip install git+https://github.com/BBN-Q/Adapt.git
  - pip install git+https://github.com/BBN-Q/QGL.git
  - pip install tqdm pyvisa coveralls ruamel.yaml watchdog scikit-learn pyusb
  - export GIT_LFS_SKIP_SMUDGE=0
  - conda install -c ecpy atom;
  - export PYTHONPATH=$PYTHONPATH:$PWD/src

script:
  - coverage run -m unittest discover -v test

after_script:
  - coveralls

# necessary to run on new container-based infrastructure
sudo: false

cache:
  directories:
    - $HOME/download
    - $HOME/.cache/pip
