numpy >= 1.11.1
scipy >= 0.17.1
PyVISA >= 1.8
h5py >= 2.6.0
tqdm >= 4.7.0
pandas >= 0.18.1
networkx >= 1.11
matplotlib >= 2.0.0
cffi >= 1.9.1
scikit-learn >= 0.18.1
ruamel.yaml >= 0.15.18
psutil >= 5.0.0
pyzmq >= 16.0.0
bbndb >= 0.1
pyusb >= 1.0.2
